:root {
    --pink: #FFBFFF;
}
*,
*::before,
*::after {
    margin:0;
    padding:0;
    box-sizing:border-box;
    font-family: 'Source Serif Pro', serif;
}
body {
    background-color:white;
    color:black;
    width:100vw;
    height:1000vh;
}
/*Safari button text reset
*************************/
button {
    color:black;
    border:none;
}
/************************/
main {
    width:100vw;
    height:1000vh;
}
/************************/
header {
    display:flex;
    border-bottom:1px solid black;
    align-items:center;
    justify-content: space-between;
    position:relative;
    width:calc(100vw - 10rem);
    margin-inline:5rem;
}
.logo-container img {
    width:75px;
    position:absolute;
    top:50%;
    left:45%;
    transform:translate(-50%, -50%) 
}
.logo-container {
    height:100px;
    width:15%;
    position:relative;
}
.logo-container img:nth-child(1) {
    z-index:1;
}
.logo-container img:nth-child(2) {
    top:45%;
    left:50%;
}




nav ul {
    display:flex;
    list-style: none;
    justify-content: space-evenly;
    align-items: center;
    width:100%;
}
nav {
    display:flex;
    justify-content: center;
    align-items: center;
    width:50%;
}




.header-button-container button:nth-child(1) {
    font-size:1rem;
    padding:0.5rem 2rem;
    background-color:white;
    border:1.5px solid black;
    font-weight:bold;
    width:150px;
}
.header-button-container button:nth-child(2) {
    font-size:1rem;
    padding:0.5rem 2rem;
    background-color:white;
    border:2px solid #FFBFFF;
    font-weight:bold;
    color:white;
    width:150px;
}
.header-button-container {
    position:relative;
}

.border-button-header {
    position:absolute;
    z-index:-1;
    top:-15%;
    right:-5%;
}

/************************/
.hero h1 {
    font-size:6.5rem;
    line-height:1.7;
    font-weight:700;
}
.hero button {
    padding:1.15rem 5rem;
    padding-right:10rem;
    font-size:2rem;
    font-weight:bold;
    width:400px;
    height:75px;
    background-color:white;
}
.left-side {
    display:flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
    padding-left:7rem;
    gap:2rem;
    padding-top:1rem;
    
}
.title-container {
    display:flex;
    align-items: flex-start;
    position:relative;
    
}
#highlight {
    width:600px;
    position:absolute;
    top:40%;
    z-index:-1;
}
#pencil {
    position:absolute;
    bottom:18%;
    right:-2%;
}

.hero {
    display:grid;
    grid-template-columns: 1.25fr 0.75fr;
    height:86vh;
}
.hero-button-container {
    position:relative;
    margin-top:-0.5rem;
}
.hero-button-container button:nth-child(1) {
    border:1.5px solid black;
}

.hero-button-container button:nth-child(2) {
    position:absolute;
    top:-15%;
    left:5%;
    border:2px solid var(--pink);
    color:white;
    z-index:-1;
    background-color:white;
}

/*****************************/
.first-image-container img {
    width:375px;
    height:200px;
}

.second-image-container img {
    width:165px;
}
.connect-container img {
    width:75px;
    margin-left:-20px;
}
.the-container img {
    width:60px;
}
.hero-image-container {
    width:27.75rem;
    height:86vh;
    display:grid;
    grid-template-columns:1fr 1fr 1fr 1fr;
    grid-template-rows:1fr 0.5fr 1fr 1fr;
}
.right-side {
    display:flex;
    justify-content: flex-end;
    align-items: flex-start;
}
.right-side h2 {
    font-size:7rem;

    font-weight:500;
}
.right-side h3 {
    font-size:5rem;
    font-weight:500;
}
.connect-container {
    grid-column:1 / 1;
    grid-row:1 / span 4;
    padding-right:1rem;
    transform:translateX(-1.25rem);
    margin-top:2rem;
}
.first-image-container {
    grid-column:2 / span 3;
    width:max-content;
    display:flex;
    justify-content: flex-end;
    align-items: center;
    padding-top:1.5rem;
}
.with-container {
    grid-column: 2 / span 1;
    grid-row:2 / span 1;
}
.second-image-container {
    grid-column:2 / span 0.75;
    grid-row:3 / span 1;
    width:max-content;
}
.the-container {
    grid-column:3 / span 1;
    grid-row:3 / span 1;
    margin-left:-30px;
    padding-top:1rem;
}
.world-container {
    grid-column: 1  / span 3;
    grid-row:4 / span 1;
    
}
.world-container h2 {
    font-size:6rem;
}

